/*{
    color: aqua;
}*/
/*p{
    color: brown;
    font-size: 50px;
}*//*
.titulo{
    color: brown;
    font-size: 30px;
    border: 1px solid chartreuse;
    
}
.negrita{
    font-weight: bold;
}
*/

.abuelito .titulo{
    color: blue;
    font-style: oblique;
}